# Ignore the build trees
debug
release
jumbo

# Ignore generaed and user files
**/CMakeCache.txt
**/CMakeUserPresets.json
**/CTestTestfile.cmake 
**/CPackConfig.cmake 
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json

# Ignore credential files
src/bot_token.txt
src/db_connection.txt
src/creds

# Ignore IDE files
.vscode
.cache

# Ignore dependencies
_deps
