/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

* {
    text-align: center;
}

header {
    padding: 0%;
    border: 0%;
    margin: 0%;
}

header nav, header nav ul {
    padding-top: 0%;
    margin-top: 0%;
    width: 100vw;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
}

/* Reset default table styles */
#leaderboard, #reslist {
    width: 100%;
    border-collapse: collapse;
}

/* Header styles */
#leaderboard thead, #reslist thead {
    background-color: #1f2937;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#leaderboard th, #reslist th {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

#leaderboard tbody tr:nth-child(even), #reslist tbody tr:nth-child(even) {
    background-color: #153560;
}

#leaderboard td, #leaderboard td {
    padding: 0.5rem;
    font-size: 1.1rem;
    color: #a6bebe;
}

#leaderboard td:first-child {
    text-align: center;
    font-weight: bold;
    color: #3b82f6;
    width: 5%;
    text-decoration: underline;
}

#leaderboard td:nth-child(2) {
    text-align: left;
    font-weight: bolder;
    width: 50%;
}

#leaderboard td:nth-child(3) {
    text-align: left;
    font-weight: bold;
    width: auto;
}

#leaderboard tbody tr:nth-child(1) td {
    background-color: #d4af37;
    font-size: 1.3rem;
    color: #111111;
}

#leaderboard tbody tr:nth-child(2) td {
    background-color: #a3a3a3;
    font-size: 1.2rem;
    color: #212121;
}

#leaderboard tbody tr:nth-child(3) td {
    background-color: #bd5f22;
    font-size: 1.1rem;
    color: #313131;
}

#leaderboard tbody tr td[colspan="3"], #reslist tbody tr td[colspan="4"] {
    text-align: center;
    color: red; /* Red for error */
    font-style: italic;
    padding: 20px;
}

::selection, a:hover {
    color: #fff;
    background-color: #005ba1;
    border-radius: 0.25rem;
}

header h1 {
    padding-top: 2rem;
}

.logo-img {
    padding: 0.5rem;
    height: 2.5rem;
    width: auto;
    background-color: transparent;
}

header ul a {
    padding: 0.2rem;
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
}

header ul {
    gap: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0%;
}

.flex-center-hz {
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#feature-header {
    margin-top: 3rem;
}

.spacer {
    background-color: #0078d4;
    height: 0.2rem;
}

/* Define overall page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    line-height: 1.6;
    color: #aaa;
    margin: 0;
    padding: 0;
}

video, header, nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.feature {
    text-align: center;
    padding: 1rem;
    width: 1fr;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature h2 {
    font-size: 1.5rem;
}

.action-buttons {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

/* Define button styles */
.btn {
    margin: 0.2rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-premium {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #b1914e;
    color: #fde404;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    color: #fff;
}

.btn:hover {
    background-color: #005ba1;
}

.btn-premium:hover {
    background-color: #ff9900;
}

/* Define footer styles */
footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 600px) {
    .features {
        grid-template-columns: 1fr;
    }
}