/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

* {
    text-align: center;
}

#feature-header {
    margin-top: 3rem;
}

.spacer {
    background-color: #0078d4;
    height: 0.2rem;
}

/* Define overall page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    line-height: 1.6;
    color: #aaa;
    margin: 0;
    padding: 0;
}

header, nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 2rem 0;
}

.feature {
    text-align: center;
    padding: 1rem;
    width: 500px;
}

.feature h2 {
    font-size: 1.5rem;
}

.action-buttons {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

/* Define button styles */
.btn {
    margin: 0.2rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-premium {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #b1914e;
    color: #fde404;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    color: #fff;
}

.btn:hover {
    background-color: #005ba1;
}

.btn-premium:hover {
    background-color: #ff9900;
}

/* Define footer styles */
footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
